{% extends 'base.html' %}
{% block title %}Create a new post!{% endblock %}
{% block content %}



<h1>{{ post.title }}</h1>
<small>By: {{ post.author.first_name }} {{ post.author.last_name }}</small><br/>
<hr>
<br/>
{{ post.body }}


<br/><br/>

<hr>
<h2> Comments... </h2>
{% if not post.comments.all %}
    No Comments Yet...<a href="{% url 'add_comment' post.pk %}"><br/>Add one</a>

{% else %}
<br/>
<a href="{% url 'add_comment' post.pk %}">Add Comment</a>
<br/><br/>
    {% for comment in post.comments.all %}
        <strong>{{ comment.name }} -
        {{ comment.date_added }}
        </strong>
<br/>
        {{ comment.body }}
<br/><br/>

    {% endfor %}

<br/><br/>
{% endif %}
<br/><br/>

<hr>


<br/><br/>
<a href="{% url 'home' %}" class="btn btn-secondary">Back</a>


{% endblock %}